In [1]:
import pandas as mypd

In [4]:
from pandas_visual_analysis import VisualAnalysis

In [2]:
mydf = mypd.read_csv("mpg.csv")

In [3]:
mydf.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [7]:
mydf.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [14]:
VisualAnalysis(mydf)

VBox(children=(ToggleButtons(_dom_classes=('layout-6cbad543be09472087abf811417003a0',), description='Selection…

In [6]:
%pip show pandas_visual_analysis

Name: pandas-visual-analysis
Version: 0.0.4
Summary: A package for interactive visual analysis in Jupyter notebooks.
Home-page: https://github.com/meffmadd/pandas-visual-analysis
Author: Matthias Matt
Author-email: matthias.matt@student.tuwien.ac.at
License: MIT License
Location: c:\users\saurabh\anaconda3\lib\site-packages
Requires: blinker, ipywidgets, numpy, pandas, plotly, setuptools
Required-by:
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -cipy (c:\users\saurabh\anaconda3\lib\site-packages)